body{
    background-color: #fff;
}
div{
    border: 1px solid #222;
    margin: 20px;
}
#container{
    background-color: #fff;
    width: 600px;
    border: none;
    margin: 20px auto;
}
table,th,td{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
th,td{
    padding: 10px 20px;
}
#description{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-style: dotted;
    border-bottom-style: dotted;
}
#receipe{
    border-style: dotted;
}
#package{
    border-style: dotted;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}